body{
    background-image: url(/assets/img/homebackground.jpg);
    background-attachment: fixed;
}

#main-container{
    margin: auto;
    width: 95%;
    height: 1000px;
    border-radius: 0px 0px 5px 5px;
    display: flex;

}
#main-container .main-header-container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-container .main-header-box{
    width: 98%;
    height: 170px;
    border-radius: 10px;
    background-color: var(--corazul);
    display: flex;
    align-items: center;
}
.main-header-player-stats{
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
}
.header-player-image{
    width: 125px;
    height: 125px;
    margin-left: 5px;
    border-radius: 5px;
    border: 2px solid black;
}
.header-player-stats{
    height: 100%;
    width: 700px;
    margin-left: 5px;
    color: white;
    font-family: var(--fonte-default);
    background-colr: black;
}
.header-player-stats > section{

}

.player-atribute-health{
    width: 350px;
    height: 50%;
    background-clor: red;
    float: left;
}
.player-bank{
    width: 350px;
    height: 50%;
    background-clor: blue;
    float: right;
}
.player-atributes{
    width: 350px;
    height: 50%;
    background-clor: yellow;
    float: left;
}
.player-equipment{
    width: 350px;
    height: 50%;
    background-clor: green;
    float: right;
}








.main-header-server-stats{
    width: 30%;
    height: 90%;
}